root = true

# Style all files
[*]
end_of_line = lf
insert_final_newline = true


# Style specific files
[*.{c,h,cc,hh}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
